/*
 * ! bCalendar - 2017-04-09
 */
@charset "UTF-8";
.c-calendar a {
    color: black;
}

.c-calendar_table {
    width: 100%;
}

.c-calendar_title {
    font-weight: bold;
}

.c-calendar_row {
    border-bottom: none;

}

.c-calendar_day {
}

.c-calendar_link {
    width: 2vw;
    background: #f7f7ff;
    border-radius: 50%;
    height: 2vw;

    .c-calendar_month & {
        width: 100%;
        height: 100%;
    }

    .-empty & {
        color: #aaa;
    }

    .-today & {
        background: #dddfff;
    }
}

.-empty {
    color: #aaa;
}

.c-calendar_prev:before {
    content: "← ";
}

.c-calendar_next:after {
    content: " →";
}

.c-calendar_next,
.c-calendar_prev {
    border: none;
}

.-today {
    font-weight: bold;
}

.-selected {
    background: #eee;
}

.c-calendar_num {
    position: absolute;
    top: 1;
    right: 1;
    font-size: 9px;
    background-color: red;
    border-radius: 100%;
    border: 2px red;
    color: white;
    line-height: 9px;
    padding: 2px 4px;
}

.c-calendar_month_label {
    border: none;
    background: none;
}
