body, html {
  margin: 0; }

.grid {
  height: 100%;
  width: 100%; }

.row {
  width: 100%;
  clear: both;
  margin-bottom: 20px; }

.half, .quarter, .whole, .three-fourth {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
border-left: 1px dotted black;
}
  .half:first-child, .quarter:first-child, .whole:first-child, .three-fourth:first-child {
    padding-left: 0; }
  .half:last-child, .quarter:last-child, .whole:last-child, .three-fourth:last-child {
    padding-right: 0; }

.half {
  width: 50%; }

.quarter {
  width: 25%; }

.whole {
  width: 100%; }

.grid {
  display: flex;
  flex-direction: column; }

.row {
  display: flex;
  flex: 1; }

@media (max-width: 950px) {
  .half, .quarter, .whole, .three-fourth {
    height: 100%; }
  .quarter {
    width: 50%; }
  .half {
    width: 100%; } }

@media (max-width: 600px) {
  .quarter {
    width: 100%; } }

.right {
  float: right; }

.clear {
  clear: both; }

.code {
  background: #ddd;
  border-radius: 10px;
  padding: 10px;
  overflow: auto;

}

.calendar {
    position: relative;
    /*max-width:400px;*/

    font-family:sans-serif;

    text-align:center;
}

.calendar a {
  text-decoration: none;
  color: #666;
}

.calendar__table {
    width: 100%;
}

.calendar__title {
    margin: 0;
    padding-bottom: 20px;
}


.calendar__header {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
.calendar__header td {
  border: 1px solid #eee;
  width: calc( ( 100% / 7 ) - 2px );
}

.calendar__header > .calendar__day {
    padding-bottom: 0px;
}

.calendar__row {
    display: inline-block;
    width: 100%;
}

.calendar__day {
    position:relative;
    border: 1px solid transparent;
    width: calc( ( 100% / 7 ) - 2px );
    padding-bottom: 14%;
    display: inline-block;
}

.calendar__day--event .calendar__text:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    position: absolute;
    top: -5px;
    right: 6px;
    display: block;
    background-color: #000000;
}

.calendar__link {
    text-decoration: none;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.calendar__link:hover .calendar__text {
    color: black;
}

.calendar__link:hover .calendar__text:after {
    background-color: black;
}


.calendar__prev {
    position: absolute;
    left: 0;
    top: 0px;
}

.calendar__prev:before {
  content: "← ";
}

.calendar__next:after {
 content: " →";
}


.calendar__next {
    position: absolute;
    right: 0px;
    top: 0px;
}

.calendar__next, .calendar__prev {
  /*  width: 17px;
    height: 17px;*/
    background: none;
    border: 1px solid #ddd;
    display: block;
    cursor: pointer;
}

.calendar__header {

  }
  .calendar__header > .calendar__day {
    padding-bottom: 0px;
    font-weight: 500; }


.calendar__month {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 500;
  font-size: 24px;
  width: 25%;
  position: relative;
  padding-bottom: 14%;
  display: inline-block;
  font-size: 18px;
  line-height: 45px;

}


  @media (min-width: 1680px) {
    .calendar__day {
      padding-bottom: 10%; }
  }


  /* ------------- LAYOUT ---------------- */
  section {
    clear: both;
    width: 100%;
    padding: 0 0 60px 0;
  }

  hr {
    margin: 0 auto;
    width: 50%;
    border: 0;
    border-bottom: 1px solid #eee;
    display: inline-block;
  }
  .event-infos {
    border: 1px dashed #eee;
    padding: 10px;
    width: 100%;
  }

  .date_view-container {
    margin: 0 auto;
    width: 800px;
  }

  .event-infos {
    float: left;
  }

h1, h2, h3, h4 {
  margin: 0;
  margin-top: 10px;
}